*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.profile-card_container{
  max-width: 370px;
  width: 100%;
  background: #fff;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-card_container::before{
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 35%;
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.Profile-Card_image{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #000;
  padding: 4px;
}

.Profile_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}

.Profile-Card_info{
  text-align: center;
  margin-top: 0.5rem;
}

.profile_name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.profile_title{
  font-size: 1rem;
  font-weight: 400;
  color: #646464;
  margin-bottom: 0.5rem;
}

.profile-card_content{
  ttext-align: center;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  color: #242424;
  margin-bottom: 0.5rem;
}

.Profile-Card_social-media{
  margin-top: 1rem;
}

.profile-card_icon {
  color: #fff;
  background-color: #343434;
  padding: 5px 8px;
  margin-left: 0.5rem;
  border-radius: 50%;
  font-size: 1.25rem;
  display: inline-block;
  transition: all 1s;
}

.profile-card_icon:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  transform: rotatey(360deg);
}

.profile-card_icon:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75rem;
  white-space: nowrap;
}

.Profile-Card_CTA{
  width: 70%;
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.profile-card_btn{
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
  color: #fff;
  background-color: #646464;
  cursor: pointer;
  transition: all 0.5s;
}

.profile-card_btn:hover{
  background-color: #343434;
  transform: scale(1.05);
}