*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.profile-card_container{
  max-width: 370px;
  width: 100%;
  background: #fff;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Profile-Card_image{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #000;
  padding: 3px;
}

.Profile_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

.Profile-Card_info{
  text-align: center;
  margin-top: 0.5rem;
}

.profile_name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.profile_title{
  font-size: 1rem;
  font-weight: 400;
  color: #646464;
  margin-bottom: 0.5rem;
}

.profile-card_icon{
  color: #fff;
  background-color: #000;
  padding: 5px;
  margin-left: 0.5rem;
  border-radius: 50%;
}

